In [2]:
import pandas as pd

# Предсказание числа поездок на арендованных велосипедах в San Francisco Bay Area

Страница датасета на Kaggle: https://www.kaggle.com/datasets/benhamner/sf-bay-area-bike-share

Программа Bay Area Bike Share позволяет быстро, легко и недорого совершить велосипедную прогулку по району залива Сан-Франциско.

***TODO: Описать задачу регерессии***

## Описание данных

 * `station.csv` - данные о станциях, где пользователи могут забирать или оставлять велосипеды
 * `status.csv` - данные о количестве велосипедов и доков, доступных для данной станции и минуты
 * `trip.csv` - данные о велопоездках
 * `weather.csv` - данные о погоде в конкретный день для определенных почтовых индексов

In [3]:
station = pd.read_csv('drive/MyDrive/data/station.csv')
status = pd.read_csv('drive/MyDrive/data/status.csv')
trip = pd.read_csv('drive/MyDrive/data/trip.csv')
weather = pd.read_csv('drive/MyDrive/data/weather.csv')

`station.csv` - данные о станциях (70 записей)

 * `id` - дентификатор записи
 * `name` - название станции
 * `lat` - широта
 * `long` - долгота
 * `dock_count` - количество мест для хранения велосипедов
 * `city` - город
 * `installation_date` - дата постройки станции

In [4]:
station.head()

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [12]:
station.shape

(70, 7)

`status.csv` - данные о количестве велосипедов и доков в каждый момент времени (71 984 434 записей)

 * `station_id` - идентификатор станции
 * `bikes_available` - доступно велосипедов
 * `docks_available` - доступно мест для хранения велосипедов
 * `time` - время с точностью до минуты

In [5]:
status.head()

   station_id  bikes_available  docks_available                 time
0           2                2               25  2013/08/29 12:06:01
1           2                2               25  2013/08/29 12:07:01
2           2                2               25  2013/08/29 12:08:01
3           2                2               25  2013/08/29 12:09:01
4           2                2               25  2013/08/29 12:10:01

In [13]:
status.shape

(71984434, 4)

`trip.csv` - данные о велопоездках (669 959 записей)

 * `id` - идентификатор поездки
 * `duration` - продолжительность поездки в секундах
 * `start_date` - дата и время начала поезки с точностью до минут
 * `start_station_name` - название станции, с которой началась поездка
 * `start_station_id` - идентификатор станции, с которой началась поездка
 * `end_date` - дата и время конца поездки с точностью до минут
 * `end_station_name` - название станции, в которой кончилась поездка
 * `end_station_id` - идентификатор станции, в которой кончилась поездка 
 * `bike_id` - идентификатор велосипеда
 * `subscription_type` - тип подписки (`Subscriber` или `Customer`)
 * `zip_code` - почтовый индекс (_почтовый индекс чего?_), используется для связи с погодой

In [6]:
trip.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [14]:
trip.shape

(669959, 11)

`weather.csv` - данные о погоде в конкретный день для определенных почтовых индексов (3 665 записей)

 * `date` - дата (день, месяц, год)
 * `max_temperature_f` - максимальная температура в ℉
 * `mean_temperature_f` - средняя температура в ℉
 * `min_temperature_f` - минимальная температура в ℉
 * `max_dew_point_f` - максимальная температура [точки росы](https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D1%87%D0%BA%D0%B0_%D1%80%D0%BE%D1%81%D1%8B) в ℉ 
 * `mean_dew_point_f` - средняя температура [точки росы](https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D1%87%D0%BA%D0%B0_%D1%80%D0%BE%D1%81%D1%8B) в ℉ 
 * `min_dew_point_f` - минимальная температура [точки росы](https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D1%87%D0%BA%D0%B0_%D1%80%D0%BE%D1%81%D1%8B) в ℉
 * `max_humidity` - максимальная влажность в ℉
 * `mean_humidity` - средняя влажность в ℉
 * `min_humidity` - минимальная влажность в ℉
 * `max_sea_level_pressure_inches` - максимальное давление над уровнем моря в [дюймах ртутного столба](https://ru.wikipedia.org/wiki/%D0%94%D1%8E%D0%B9%D0%BC_%D1%80%D1%82%D1%83%D1%82%D0%BD%D0%BE%D0%B3%D0%BE_%D1%81%D1%82%D0%BE%D0%BB%D0%B1%D0%B0)
 * `mean_sea_level_pressure_inches` - среднее давление над уровнем моря в [дюймах ртутного столба](https://ru.wikipedia.org/wiki/%D0%94%D1%8E%D0%B9%D0%BC_%D1%80%D1%82%D1%83%D1%82%D0%BD%D0%BE%D0%B3%D0%BE_%D1%81%D1%82%D0%BE%D0%BB%D0%B1%D0%B0)
 * `min_sea_level_pressure_inches` - минимальное давление над уровнем моря в [дюймах ртутного столба](https://ru.wikipedia.org/wiki/%D0%94%D1%8E%D0%B9%D0%BC_%D1%80%D1%82%D1%83%D1%82%D0%BD%D0%BE%D0%B3%D0%BE_%D1%81%D1%82%D0%BE%D0%BB%D0%B1%D0%B0)
 * `max_visibility_miles` - максимальная [атмосферная видимость](https://ru.wikipedia.org/wiki/%D0%90%D1%82%D0%BC%D0%BE%D1%81%D1%84%D0%B5%D1%80%D0%BD%D0%B0%D1%8F_%D0%B2%D0%B8%D0%B4%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C) в милях
 * `mean_visibility_miles` - средняя [атмосферная видимость](https://ru.wikipedia.org/wiki/%D0%90%D1%82%D0%BC%D0%BE%D1%81%D1%84%D0%B5%D1%80%D0%BD%D0%B0%D1%8F_%D0%B2%D0%B8%D0%B4%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C) в милях
 * `mean_visibility_miles` - минимальная [атмосферная видимость](https://ru.wikipedia.org/wiki/%D0%90%D1%82%D0%BC%D0%BE%D1%81%D1%84%D0%B5%D1%80%D0%BD%D0%B0%D1%8F_%D0%B2%D0%B8%D0%B4%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C) в милях
 * `max_wind_Speed_mph` - максимальная [скорость ветра](https://en.wikipedia.org/wiki/Wind_speed) в милях в час 
 * `mean_wind_speed_mph` - средняя [скорость ветра](https://en.wikipedia.org/wiki/Wind_speed) в милях в час
 * `max_gust_speed_mph` - максимальный [порыв ветра](https://en.wikipedia.org/wiki/Wind_gust) в милях в час
 * `precipitation_inches` - максимальный уровень [атмосферных осадков](https://ru.wikipedia.org/wiki/%D0%90%D1%82%D0%BC%D0%BE%D1%81%D1%84%D0%B5%D1%80%D0%BD%D1%8B%D0%B5_%D0%BE%D1%81%D0%B0%D0%B4%D0%BA%D0%B8) в дюймах ртутного столба
 * `cloud_cover` - облачность от `0` до `8`
 * `events` - информация о погодных событиях (дождь, туман, гроза и т.д.)
 * `wind_dir_degrees` - направление ветра в градусах
 * `zip_code` - почтовый индекс

In [7]:
weather.head()

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,8/29/2013,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107
1,8/30/2013,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107
2,8/31/2013,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107
3,9/1/2013,74.0,66.0,58.0,60.0,56.0,53.0,87.0,68.0,49.0,...,10.0,10.0,25.0,13.0,29.0,0,4.0,NaN,284.0,94107
4,9/2/2013,75.0,69.0,62.0,61.0,60.0,58.0,93.0,77.0,61.0,...,10.0,6.0,23.0,12.0,30.0,0,6.0,NaN,277.0,94107

In [15]:
weather.shape

(3665, 24)

In [8]:
weather['cloud_cover'].unique()

array([ 4.,  2.,  6.,  3.,  0.,  1.,  5.,  7.,  8., nan])

In [11]:
weather['events'].unique()

array([nan, 'Fog', 'Rain', 'Fog-Rain', 'rain', 'Rain-Thunderstorm'],
      dtype=object)

In [9]:
weather.columns

Index(['date', 'max_temperature_f', 'mean_temperature_f', 'min_temperature_f',
       'max_dew_point_f', 'mean_dew_point_f', 'min_dew_point_f',
       'max_humidity', 'mean_humidity', 'min_humidity',
       'max_sea_level_pressure_inches', 'mean_sea_level_pressure_inches',
       'min_sea_level_pressure_inches', 'max_visibility_miles',
       'mean_visibility_miles', 'min_visibility_miles', 'max_wind_Speed_mph',
       'mean_wind_speed_mph', 'max_gust_speed_mph', 'precipitation_inches',
       'cloud_cover', 'events', 'wind_dir_degrees', 'zip_code'],
      dtype='object')

In [10]:
weather['date']

0       8/29/2013
1       8/30/2013
2       8/31/2013
3        9/1/2013
4        9/2/2013
          ...
3660    8/27/2015
3661    8/28/2015
3662    8/29/2015
3663    8/30/2015
3664    8/31/2015
Name: date, Length: 3665, dtype: object